<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Блитц</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blitz_style.css' %}">
</head>
<body>
<h1>Viewing the blitz</h1>
<p>
    You are not shown the task conditions.
    You can open a condition for any task and within 5 minutes place a bet on how much time you will spend on solving it.
    If you do not complete the task in the time you set, it will not be counted.
    Otherwise, you will be awarded a certain score, depending on your bid and the number of people who completed the task.
</p>
<table>
    <tbody>
    <tr>
        <td>Problem</td>
        <td>Description</td>
        <td>Number of takers</td>
        <td>Statement</td>
        <td>Bet</td>
        <td>The remaining bids</td>
    </tr>
    {% for problem in problems %}
        <tr>
        <td>{{ problem.problem.problem_id }}</td>
        <td>{{ problem.problem.description }}</td>
        <td>{{ problem.starts_number }}</td>
        <td>
        {% if problem.started %}
            <a href="{{ problem.problem.statements.url }}">Statements</a>
        {% else %}
            <form action="{% url 'blitz_open_problem' problem_id=problem.problem.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Открыть">
            </form>
        {% endif %}
        </td>
        <td>
        {% if problem.started %}
            {% if problem.bid_time_left > 0 %}
                <form action="{% url 'blitz_make_bid' problem_id=problem.problem.id %}" method="post">
                    {% csrf_token %}
                    <label for="{{ problem.problem.id }}_bid">Current bid: </label>
                    <input id="{{ problem.problem.id }}_bid" type="number" name="bid" value={{ problem.bid }}> minutes
                    <input type="submit" value="Изменить">
                </form>
                You are left with {{ problem.bid_time_left }} seconds for the change.
            {% else %}
                {{ problem.bid }} minutes
            {% endif %}
        {% else %}
            -
        {% endif %}
        </td>
        <td>
        {% if problem.started %}
            {{ problem.bid_left }} minutes
        {% else %}
            -
        {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>